// @import 'reset';
@tailwind preflight;
@tailwind utilities;

.filter-list {
  background: white;
  &-wrapper {
      margin-top: 2.5em;
  }
}

.filter-item {
  &-content {
    @apply .bg-white .text-grey-darkest .font-semibold;
    
    &:hover {
      @apply .bg-grey-light;
    }
  }

  &.selected {
    & > .filter-item-content {
      @apply .bg-red-dark text-white;
    }
  }
}

.degree-item {
  &-header {
    .title {
      font-size: 16px;
      font-weight: 400;
    }
  }
}
