@import 'vd-finder';
@tailwind preflight;
@tailwind utilities;
.sr-only {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

.no-results {
  position: fixed;
  left: 50%;
  top: 50%;
}

.filter-item {
  .label {
    @apply .bg-white .text-grey-darkest .font-semibold;
    display: flex;
    align-items: center;
    height: 45px;

    &:hover {
      @apply .bg-grey-light;
    }
  }

  &.selected {
    & > .label {
      @apply .bg-red-dark text-white;
    }
  }

  &.parent {
    // position: relative;
    // z-index: 9999;
  }
}
