@import 'vd-finder';
@tailwind preflight;
@tailwind utilities;

.no-results {
  position: fixed;
  left: 50%;
  top: 50%;
}

.filter-list-item {
  .label {
    @apply .bg-white .text-grey-darkest .font-semibold;
    display: flex;
    align-items: center;
    height: 45px;

    &:hover {
      @apply .bg-grey-light;
    }
  }

  &.selected {
    & > .label {
      @apply .bg-red-dark text-white;
    }
  }

  &.parent {
    position: relative;
    z-index: 9999;
  }
}
