// Not sure but for some reason, without this theres a a tick at the end of animation

// Subfilter Dropdowns
.subfilter-list {
  transition: all 350ms ease-out;
  // z-index: -1;
  position: relative;
  overflow: hidden;
}


.slide-fade-enter-active {
  transition: all .40s ease-out;

}
.slide-fade-leave-active {
  transition: all .40s ease-out;
  transition-delay: .25s;
}

.slide-fade-enter, .slide-fade-leave-to {
  transform: translateY(10px);
  opacity: 0;
}

.vertical-fade-enter-active, .vertical-fade-leave-active {
  transition: opacity 500ms;
}
.vertical-fade-enter, .vertical-fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.accordion-enter,
.accordion-leave-active {
  opacity: 0;
  transform: translateY(-20px);
  transition: all 250ms ease-out;
}

.accordion-leave-to {
  transition: all 250ms ease-out;
  transform: translateY(20px);
  opacity: 0;
}

// Search Filter
.search-enter-active,
.search-leave-active {
	transition: opacity 0.175s ease-in-out;
}

.search-enter,
.search-leave-to {
	opacity: 0;
}

// Grid Items
.animated-grid-items-item {
  transition: all 550ms ease;
  display: inline-block;
  // margin-right: 10px;
}

.animated-grid-items-enter-active,
.animated-grid-items-leave-active {
  transition: all 550ms ease;
  will-change: transform, opacity, filter;
  z-index: 1;
}

.animated-grid-items-enter {
  opacity: 0;
  // filter: blur(5px);
  transform: scale(0.01);
}

.animated-grid-items-leave-to {
  opacity: 0;
  transform: scale(0.01);
}

.animated-grid-items-leave-active {
  position: absolute;
  z-index: 0;
}

.animated-grid-items-move {
  transition: transform 1s;
}
