// @import 'reset';
@import 'transitions';

@media (max-width: 799px) {
  #vlh-filtering {
    flex-direction: column;
  }

  .degree-filters {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    flex: 1 1 100% !important;
    position: relative;
  }

  .search-filter {
    flex-basis: 100%;
  }

  .filter-list {
    position: absolute;
    z-index: 999;
    left: 0;
    right: 0;
    top: 110px;
    &-wrapper {
      width: 48%;
    }
  }

}

.degree {
  &-grid {
    &-item {
      backface-visibility: hidden;
      z-index: 1;
    }
  }

  &-item {
    backface-visibility: hidden;
    z-index: 1;
  }
}

.content {
  position: relative;
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  color: #3d5358;
  max-width: 780px;
  margin: 0 auto;

  &__list {
    position: relative;
    margin-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 5rem;
    backface-visibility: hidden;
    display: flex;
    flex-flow: row wrap;
  }
}

.filter-list {

  &-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 800px) {
      cursor: pointer;
    }
  }

  &-status {
      display: flex;
      justify-content: space-between;
      align-items: center;
      display: flex;
      height: 35px;
      margin-top: .25em;
      align-items: flex-start;

      .text {
        font-size: 12px;
        margin-top: 5px;
      }

      .icon {
        fill: red;
      }
  }
}



.dropdown {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height 350ms;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1rem;
    background-image: linear-gradient(to top, white, rgba(white, 0));
  }

  &-enter,
  &-leave-to {
    opacity: 0;
  }

  &-enter-to,
  &-leave {
    opacity: 1;
  }

  &-enter-active,
  &-leave-active {
    position: absolute;
    width: 100%;
    transition: opacity 200ms ease-in-out;
  }

  &-enter-active {
    transition-delay: 100ms;
  }
}
